
/* DEFINE THE FONTS */

@font-face
{
	font-family: "Acme";
	src: url("resources/fonts/Acme.ttf?4.7.0")format("truetype");
}

/* DOCUMENT LEVEL STYLES */

* {
    box-sizing: border-box;
}

html {
    font-size: calc( 0.75em + 1vh );
}

body {
    background: url("resources/Images/Background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

#main {
    width: 90%;
    max-width: 720px;
    height: 92vh;

    margin-left: auto;
    margin-top: 4vh;

    background-color: white;

    border-radius: 10px;
    box-shadow: 7px 10px 10px -6px #000;

    font-family: Acme;
}


/* HEADER OF PAGE */

#title {
    text-align: center;
    font-size: clamp(1rem, 7vw, 1.9rem);
    color: #090909;
    padding-top: 5%;
    padding-bottom: 2%;
}

#description {
    color: #e98074;
    font-size: clamp(0.5rem, 3.5vw, 0.8rem);
    font-weight: 520;
    text-align: center;
    margin-top: 5%;
}

/* PROGRESS BAR */

#progress-bar-main {
    width: 90%;
    height: 3%;
    border-radius: 20px;
    margin-top: 9%;
    padding-left: 0px;
    background-color: #EAE7DC;
}

#progress-bar-complete {
    width: 25%;
    height: 100%;
    border-radius: 20px;
    background-color: #E85A4F;
    transition-duration: 0.8s;
    padding: 0px;
}

#progress-text {
    padding-left: 10px;
    font-weight: 600;
    font-size: clamp(0.1rem, 3vw, 1rem);
    line-height: 2.8vh;
    color: white;
}

/* SURVEY FORM */
#survey-form {

}

/* SECTION ICONS */

.section-icon {
    width: 6vh;
    height: 6vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-heading {
    font-size: clamp(0.1rem, 5vw, 2rem);
    text-align: center;
    margin-top: 0em;
    margin-bottom: 7vh;
}

#personal-info-icon {
    background-image: url("resources/Section_Icons/personal_info.svg");
}

#education-icon {
    background-image: url("resources/Section_Icons/qualification.svg");
}

#qualification-icon {
    background-image: url("resources/Section_Icons/skills.svg");
}

#coding-icon {
    background-image: url("resources/Section_Icons/coding.svg");
}

/* SECTION 1 */

label {
    margin-left: 7%;
    margin-top: 3vh;
    font-size: clamp(0.1rem, 3.3vw, 1rem);
}

.text-input {
    width: 33%;

    border-style: none;
    border-bottom: 1px solid black;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    color: #444;
    font-size: clamp(0.1rem, 3.8vw, 1rem);
    font-family: Acme;
    font-weight: 100;

    margin-top: 3vh;
}

.text-input:focus {
    outline-style: none;
    border-bottom: 2px solid black !important;
    width: 35%;
}

/* SECTION 2 */

select {
    width: 33%;

    border-style: none;
    border-bottom: 1px solid black;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    color: #444;
    font-size: clamp(0.1rem, 3.8vw, 1rem);
    font-family: Acme;
    font-weight: 100;
}

select:focus {
    outline-style: none;
    border-bottom: 2px solid black !important;
    width: 11em;
}

#student-section {
    margin-top: 5%;
}

/* SECTION 3 */

.box-input-container{
    height: 6vh;
    width: 100%;
    padding-top: 2%;
}

.checkbox-div{
    width: 25%;
    float: left;
}

.checkbox-label {
    margin: 0px;
}

#languages-label {
    font-size: clamp(0.1rem, 3.5vw, 2rem);
}

/* SECTION 4 */

#coding-question {
    margin-top: -20px;
    font-size: clamp(0.1rem, 3.5vw, 2rem);
}

textarea {
    width: 80%;
    height: 20vh;
    position: absolute;
    padding-left: 5px;
    left: 50%;
    transform: translate(-50%);
}

/* PREVIOUS NEXT AND SUBMIT BUTTONS */

#buttons {
    width: 55vw;
    max-width: 420px;
    height: 10vh;

    bottom: 5vh;
    margin: 0px;
    padding: 0px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button-div {
    width: 33.33%;
    height: 10vh;
    float: left;
}

.btn {
    font-size: clamp(0.1rem, 3.5vw, 1.2rem);
    text-align: center;

    padding-left: 0px;
    padding-right: 0px;

    position: relative;
    left: 50%; transform: translateX(-50%);

    width: 140%;
    max-width: 100px;
    height: auto;

    background-color: #E98074;
    border-color: #E85A4F;
    border-width: 1px;
    border-radius: 5px;
}

.btn-custom {
    color: white;
    background-color: #E85A4F;
}
.btn-custom:active, .btn-custom:focus, .btn-custom:active, .btn-custom:hover {
    color: white;
    -webkit-box-shadow: 10px 10px 8px 2px #E85A4F;
    -moz-box-shadow: 0px 0px 8px 2px #E85A4F;
    box-shadow: 0px 0px 1px 1px #E85A4F;
}
input[type="button"], input[type="submit"] {
    visibility: hidden;
    width: 0px; height: 0px;
}

/* CUSTOM CHECKBOX STYLES */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.1em; height: 1.1em;
  border: 1px solid #000;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .01em;
  font-size: 1.7em;
  line-height: 0.2;
  color: #E85A4F;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #E85A4F!important;
}

/* CUSTOM RADIO BUTTON STYLES */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #E85A4F;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* iPads (portrait and landscape)*/

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #main {
        width: 75%;
        background-color: sred;
        min-width: 420px;
    }
    #title {
        font-size: clamp(1rem, 7vw, 2.5rem);
    }
    #description {
        font-size: clamp(0.5rem, 2.4vw, 1rem);
    }
    .section-heading {
        font-size: clamp(0.5rem, 4vw, 2rem);
        margin-bottom: 5vh;
    }
    label {
        font-size: clamp(0.5rem, 2.6vw, 1.9rem);
        margin-left: 15%;
    }
    .text-input {
        width: 20%;
        font-size: clamp(0.1rem, 2.6vw, 1rem);
    }
    .text-input:focus {
        width: 22%;
    }
    #student-section > .text-input, #student-section > label {
        margin-top: 0vh;
    }
    #dropdown-branch, #dropdown-branch-label {
        margin-top: 0vh;
    }
    select {
        width: 20%;
        font-size: clamp(0.1rem, 2.6vw, 1rem);
        margin-top: 3vh;
    }
    select > option {
        font-size: clamp(0.1rem, 2.6vw, 1rem);
    }
    select:focus {
        outline-style: none;
        border-bottom: 2px solid black !important;
        width: 22%;
    }
    .box-input-container{
        width: 90%;
        margin-left: 7.5%;
    }
    #languages-label {
        font-size: clamp(0.1rem, 2.6vw, 1rem);
    }
    #coding-question {
        margin-top: -20px;
        font-size: clamp(0.1rem, 2.6vw, 1rem);
    }
    textarea {
        width: 50%;
        height: 20vh;
        border: 2px solid black;
    }
    #buttons {
        height: 10vh;
        width: 100%;
        bottom: 5vh;
    }
    .btn {
        width: 150%;
        font-size: clamp(0.1rem, 3vw, 1.2rem);
    }
}
/* Desktop and Laptop */

@media only screen and (min-width : 1224px){
    #main {
        width: 33%;
        min-width: 520px;
    }
    #title {
        font-size: clamp(1rem, 3vw, 2.5rem);
    }
    #description {
        font-size: clamp(0.5rem, 1.2vw, 1rem);
    }
    .section-heading {
        font-size: clamp(0.5rem, 1.7vw, 1.9rem);
        margin-bottom: 5vh;
    }
    label {
        font-size: clamp(0.5rem, 1.2vw, 1.9rem);
        margin-left: 15%;
    }
    .text-input {
        width: 10%;
        font-size: clamp(0.1rem, 1.1vw, 1rem);
    }
    .text-input:focus {
        width: 12%;
    }
    #student-section > .text-input, #student-section > label {
        margin-top: 0vh;
    }
    #dropdown-branch, #dropdown-branch-label {
        margin-top: 0vh;
    }
    select {
        width: 10%;
        font-size: clamp(0.1rem, 1.2vw, 1rem);
        margin-top: 3vh;
    }
    select > option {
        font-size: clamp(0.1rem, 1.2vw, 1rem);
    }
    select:focus {
        outline-style: none;
        border-bottom: 2px solid black !important;
        width: 10%;
    }
    .box-input-container{
        width: 90%;
        margin-left: 7.5%;
    }
    #languages-label {
        font-size: clamp(0.1rem, 1.2vw, 1rem);
    }
    #coding-question {
        margin-top: -20px;
        font-size: clamp(0.1rem, 1.2vw, 1rem);
    }
    textarea {
        width: 25%;
        height: 20vh;
        border: 2px solid black;
    }
    #buttons {
        height: 8vh;
        bottom: 5vh;
    }
    .btn {
        width: 70%;
        font-size: clamp(0.1rem, 1vw, 1.2rem);
    }
}
